
.text--white
{
    color: #fff !important;
}

html
*
{
    box-sizing: border-box;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

/* 2.3. base
   ========================================================================== */
html
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

body
{
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3125rem;

    position: static;

    color: #3b3b3b;
    background-color: #454c56;
}
body.login
{
    background-color: #6bd7e1;
}

h1,
h2,
h3,
h4,
h5
{
    color: #141414;
}

h1
{
    font-family: inherit;
    font-size: 2.375rem;
    font-weight: 600;
    font-style: inherit;
    line-height: 2.625rem;

    margin-top: 1.3125rem;
    margin-bottom: 0rem;
}

h2
{
    font-family: inherit;
    font-size: 1.43rem;
    font-weight: 600;
    font-style: inherit;
    line-height: 2.625rem;

    margin-top: 1.3125rem;
    margin-bottom: 1.3125rem;
}

h3
{
    font-family: inherit;
    font-size: 1.286rem;
    font-weight: 600;
    font-style: inherit;
    line-height: 1.3125rem;

    margin-top: 1.3125rem;
    margin-bottom: 0rem;
}

h4
{
    font-family: inherit;
    font-size: .875rem;
    font-weight: 600;
    font-style: inherit;
    line-height: 1.3125rem;

    margin-top: 1.3125rem;
    margin-bottom: 0rem;
}

h5
{
    font-family: inherit;
    font-size: .875rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.3125rem;

    margin-top: 1.3125rem;
    margin-bottom: 0rem;
}

p,
ul,
ol,
pre,
table,
blockquote
{
    margin-top: 0rem;
    margin-bottom: 1.3125rem;
}

ul ul,
ol ol,
ul ol,
ol ul
{
    margin-top: 0;
    margin-bottom: 0;
}

b,
strong,
em,
small,
code
{
    line-height: 1;
}

sup
{
    line-height: 0;

    position: relative;
    top: -.5em;

    vertical-align: baseline;
}

sub
{
    bottom: -.25em;
}

a
{
    color: #6bd7e1;
}
a:hover,
a:focus
{
    color: #41ccd8;
}

/* ==========================================================================
   3-components
   ========================================================================== */
/* ==========================================================================
   3.1-brand
   ========================================================================== */
.brand
{
    display: block;
    overflow: hidden;

    width: 250px;
    height: auto;
    margin: 0;
    padding: 20px;

    white-space: nowrap;
    text-indent: 120%;

    background: url('../images/E2-Logo.png') 50% 50% no-repeat;
    background-repeat: no-repeat;
    background-size: 75%;
}
.login-panel .brand
{
    width: 100%;
    margin-bottom: 48px;
}

/* ==========================================================================
   3.02-login-panel
   ========================================================================== */
.login-panel
{
    margin-top: 150px;

    color: white;
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.login-panel .panel-heading
{
    border: none;
    background-color: transparent;
}
.login-panel .panel-title
{
    font-weight: normal;

    color: white;
}
.login-panel .form-control
{
    color: white;
    border: none;
    background-color: #60c1ca;
    box-shadow: none;
}
.login-panel .form-control::-webkit-input-placeholder
{
    font-style: italic;

    color: rgba(255, 255, 255, .75);
}
.login-panel .form-control:-moz-placeholder
{
    /* Firefox 18- */
    font-style: italic;

    color: rgba(255, 255, 255, .75);
}
.login-panel .form-control::-moz-placeholder
{
    /* Firefox 19+ */
    font-style: italic;

    color: rgba(255, 255, 255, .75);
}
.login-panel .form-control:-ms-input-placeholder
{
    font-style: italic;

    color: rgba(255, 255, 255, .75);
}

/* ==========================================================================
   3.021-form
   ========================================================================== */
.is-required .control-label:after
{
    display: inline-block;

    margin-left: 3px;

    content: '*';

    color: #6bd7e1;
}

/* ==========================================================================
   3.03-Button
   ========================================================================== */
.btn-primary
{
    color: white;
    border: none;
    background-color: #6bd7e1;
}
.btn-primary:hover,
.btn-primary:focus
{
    color: #fafafa;
    background-color: #56d1dd;
}

.btn-red
{
    color: white;
    border: none;
    background-color: #fd0011;
}
.btn-red:hover,
.btn-red:focus
{
    color: #fafafa;
    background-color: #e4000f;
}

form .btn
{
    padding-right: 48px;
    padding-left: 48px;
}

/* ==========================================================================
   3.04-checkbox
   ========================================================================== */
.checkbox,
.radio
{
    color: inherit;
    border: none;
}
.checkbox input[type='radio'],
.checkbox input[type='checkbox'],
.radio input[type='radio'],
.radio input[type='checkbox']
{
    z-index: 1;

    width: 20px;
    height: 20px;
    margin-left: 0;

    opacity: 0;
}
.checkbox label,
.radio label
{
    padding-left: 0;

    cursor: pointer;
}
.checkbox label span:before,
.radio label span:before
{
    display: inline-block !important;

    width: 20px;
    height: 20px;
    margin-right: 10px;

    content: '';
    vertical-align: bottom;

    border: 1px solid #d6d6d6;
}
.login-panel .checkbox label span:before,
.login-panel
      .radio label span:before
{
    border-color: white;
}
.checkbox label span:after,
.radio label span:after
{
    font-family: 'FontAwesome';
    font-size: 11px;

    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 20px;
    height: 20px;
    margin-left: -2px;
    padding-top: 1px;
    padding-left: 3px;

    text-align: center;

    color: #2cde2c;
}
.login-panel .checkbox label span:after,
.login-panel
      .radio label span:after
{
    color: white;
}
.checkbox label input[type='checkbox']:checked + span:after,
.checkbox label input[type='radio']:checked + span:after,
.radio label input[type='checkbox']:checked + span:after,
.radio label input[type='radio']:checked + span:after
{
    display: inline-block;
}

.checkbox label span:after
{
    content: '\f00c';
}

.radio label span:before
{
    border-radius: 50%;
}

.radio label span:after
{
    top: 1px;

    content: '\f111';
}

/* ==========================================================================
   3.05-navbar
   ========================================================================== */
.navbar
{
    margin-bottom: 0;

    color: white;
    background-color: #6bd7e1;
}
.navbar-top-links li a
{
    padding-top: 21px;
    padding-bottom: 21px;

    color: inherit;
}
.navbar-top-links li a:focus,
.navbar-top-links li a:hover
{
    background-color: #56d1dd;
}
.navbar .nav .open > a,
.navbar .nav .open > a:focus,
.navbar .nav .open > a:hover
{
    background-color: #80dde5;
}
.navbar .user-name
{
    margin-right: 5px;
    margin-left: 5px;
}
.navbar .dropdown-user
{
    margin-top: 5px;

    border: none;
    background-color: #454c56;
}
.navbar .dropdown-user:after
{
    position: absolute;
    right: 20px;
    bottom: 100%;

    width: 0;
    height: 0;
    margin-right: -5px;

    content: ' ';
    pointer-events: none;

    border: solid transparent;
    border-width: 5px;
    border-color: transparent;
    border-bottom-color: #454c56;
}
.navbar .dropdown-user li a
{
    color: #a9a9a9;
}
.navbar .dropdown-user li a:hover,
.navbar .dropdown-user li a:focus
{
    color: white;
    background-color: #3a3f48;
}
.navbar .dropdown-user li a .fa
{
    margin-right: 3px;
}
.navbar .dropdown-user .divider
{
    background-color: #a9a9a9;
}
.navbar .sidebar
{
    margin-top: 60px;

    background-color: #454c56;
}
.navbar .sidebar ul li
{
    border-bottom-color: #505964;
}
.navbar .sidebar ul li a
{
    position: relative;

    color: white;
    background-color: #454c56;
}
.navbar .sidebar ul li a:hover
{
    color: white;
    background-color: #3a3f48;
}
.navbar .sidebar ul li a:focus
{
    color: #454c56;
    background-color: white;
}
.navbar .sidebar ul li a:focus:after
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 3px;

    content: '';

    background-color: #6bd7e1;
}
.navbar .sidebar ul li i,
.navbar .sidebar ul li .fa
{
    margin-right: 3px;

    color: #6bd7e1;
}

.custom-search-form .form-control::-webkit-input-placeholder,
.custom-search-form .input-group-addon::-webkit-input-placeholder,
.search .form-control::-webkit-input-placeholder,
.search .input-group-addon::-webkit-input-placeholder
{
    font-style: italic;

    color: rgba(93, 99, 109, .75);
}

.custom-search-form .form-control:-moz-placeholder,
.custom-search-form .input-group-addon:-moz-placeholder,
.search .form-control:-moz-placeholder,
.search .input-group-addon:-moz-placeholder
{
    /* Firefox 18- */
    font-style: italic;

    color: rgba(93, 99, 109, .75);
}

.custom-search-form .form-control::-moz-placeholder,
.custom-search-form .input-group-addon::-moz-placeholder,
.search .form-control::-moz-placeholder,
.search .input-group-addon::-moz-placeholder
{
    /* Firefox 19+ */
    font-style: italic;

    color: rgba(93, 99, 109, .75);
}

.custom-search-form .form-control:-ms-input-placeholder,
.custom-search-form .input-group-addon:-ms-input-placeholder,
.search .form-control:-ms-input-placeholder,
.search .input-group-addon:-ms-input-placeholder
{
    font-style: italic;

    color: rgba(93, 99, 109, .75);
}

.custom-search-form .form-control:first-child,
.custom-search-form .input-group-addon:first-child,
.search .form-control:first-child,
.search .input-group-addon:first-child
{
    padding-left: 17px;

    border-right: transparent;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.sidebar .custom-search-form .form-control:first-child,
.sidebar
  .custom-search-form .input-group-addon:first-child,
.sidebar
  .search .form-control:first-child,
.sidebar
  .search .input-group-addon:first-child
{
    border: none;
}

.custom-search-form .form-control:last-child,
.custom-search-form .input-group-addon:last-child,
.search .form-control:last-child,
.search .input-group-addon:last-child
{
    padding-right: 17px;

    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.sidebar .custom-search-form .form-control:last-child,
.sidebar
  .custom-search-form .input-group-addon:last-child,
.sidebar
  .search .form-control:last-child,
.sidebar
  .search .input-group-addon:last-child
{
    border: none;
}

.custom-search-form .input-group-addon,
.search .input-group-addon
{
    background-color: transparent;
}

.sidebar .custom-search-form .input-group-btn .btn,
.sidebar
.search .input-group-btn .btn
{
    border-color: white;
}

.custom-search-form .input-group-btn:first-child .btn,
.search .input-group-btn:first-child .btn
{
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

.custom-search-form .input-group-btn:last-child .btn,
.search .input-group-btn:last-child .btn
{
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}

/* ==========================================================================
   3.06-table
   ========================================================================== */
.table .head-table th
{
    padding: 10px;

    color: white;
    background-color: #6bd7e1;
}

.table .head-table .column-header-anchor
{
    color: white;
}

.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td
{
    padding: 5px 10px;
}

.pagination .button
{
    cursor: pointer;
}

.pagination .first .button,
.pagination .prev .button,
.pagination .next .button,
.pagination .last .button,
.pagination .active .button
{
    color: white;
    border-color: #6bd7e1;
    background-color: #6bd7e1;
}
.pagination .first .button:hover,
.pagination .first .button:focus,
.pagination .prev .button:hover,
.pagination .prev .button:focus,
.pagination .next .button:hover,
.pagination .next .button:focus,
.pagination .last .button:hover,
.pagination .last .button:focus,
.pagination .active .button:hover,
.pagination .active .button:focus
{
    color: #fafafa;
    background-color: #56d1dd;
}

.pagination .first.disabled .button,
.pagination .prev.disabled .button,
.pagination .next.disabled .button,
.pagination .last.disabled .button,
.pagination .active.disabled .button
{
    pointer-events: none;

    opacity: .75;
}

.pagination.active .button
{
    pointer-events: none;
}

.infoBar
{
    padding-top: 8px;
    padding-bottom: 8px;
}

/* ==========================================================================
   3.07-panel
   ========================================================================== */
.panel > .panel-heading
{
    position: relative;

    padding-right: 35px;
}
.panel > .panel-heading .fa
{
    position: absolute;
    top: 12px;
    right: 15px;
}

.panel-primary
{
    border-color: #ddd;
}
.panel-primary > .panel-heading
{
    font-weight: bold;

    border-color: #6bd7e1;
    background-color: #6bd7e1;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body
{
    border-top-color: #6bd7e1;
}
.panel-primary > .panel-heading .panel-title > a:hover,
.panel-primary > .panel-heading .panel-title > a:focus
{
    text-decoration: underline;

    color: white;
}

.panel-success
{
    border-color: #ddd;
}
.panel-success > .panel-heading
{
    font-weight: bold;

    border-color: #2cde2c;
    background-color: #2cde2c;
}
.panel-success > .panel-heading .fa
{
    color: white;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body
{
    border-top-color: #2cde2c;
}
.panel-success > .panel-heading .panel-title
{
    color: white;
}
.panel-success > .panel-heading .panel-title > a:hover,
.panel-success > .panel-heading .panel-title > a:focus
{
    text-decoration: underline;

    color: white;
}

.alert
{
    position: relative;

    border: 1px dashed #ddd;
    border-radius: 0;
}
.alert:after
{
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;

    display: block;

    width: 7px;

    content: '';

    background-color: #ddd;
}

.alert-info
{
    color: #31708f;
    border-color: #6bd7e1;
    background-color: #f1fbfc;
}
.alert-info:after
{
    background-color: #6bd7e1;
}

.alert-success
{
    border-color: #2cde2c;
    background-color: #dff0d8;
}
.alert-success:after
{
    background-color: #2cde2c;
}

.alert-warning
{
    border-color: #ffc800;
    background-color: #fcf8e3;
}
.alert-warning:after
{
    background-color: #ffc800;
}

.alert-danger
{
    border-color: #a94442;
    background-color: #f2dede;
}
.alert-danger:after
{
    background-color: #a94442;
}

.time-panel
{
    padding: 0 15px 0 30px;

    text-align: right;

    border-left: 1px solid #ddd;
}

.time-panel__label
{
    font-size: 1rem;
}

.time-panel__clock
{
    font-size: 2.43rem;
    line-height: 1;

    color: #6bd7e1;
}
.in-panel-heading .time-panel__clock
{
    font-size: inherit;

    color: white;
}
.time-panel__clock:before
{
    font-family: 'Fontawesome';
    font-size: .75em;

    margin-right: 10px;

    content: '\f017';
}
.in-panel-heading .time-panel__clock:before
{
    font-size: inherit;
}

/* ==========================================================================
   3.08-nav-tabs
   ========================================================================== */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    border: 1px solid transparent;
    border-bottom: 3px solid #6bd7e1;
}

.nav-tabs .tabs-icon
{
    display: inline-block;

    width: 20px;
    height: 20px;
    margin-right: 3px;

    vertical-align: text-bottom;

    background: url('../images/icons.png') no-repeat center 0;
    background-size: cover;
}
.nav-tabs .tabs-icon--speaking
{
    background-position-y: 0;
}
.nav-tabs .tabs-icon--writing
{
    background-position-y: -20px;
}
.nav-tabs .tabs-icon--reading
{
    background-position-y: -40px;
}
.nav-tabs .tabs-icon--listening
{
    background-position-y: -60px;
}
.nav-tabs .tabs-icon--grammar
{
    background-position-y: -80px;
}
.nav-tabs .tabs-icon--vocabulary
{
    background-position-y: -100px;
}
.nav-tabs .tabs-icon--webinars
{
    background-position-y: -120px;
}
.nav-tabs .tabs-icon--essay-writing
{
    background-position-y: -140px;
}

/* ==========================================================================
   4-structures
   ========================================================================== */
/* ==========================================================================
   4.1-header
   ========================================================================== */
.header
{
    z-index: 5000;

    background-color: #6bd7e1;
}
.header .navbar-toggle
{
    margin: 0 15px;
    padding: 20px;
}
.header .icon-bar
{
    background-color: #fff;
}
.header .navbar-collapse
{
    box-shadow: 0 10px 10px 0 rgba(174, 174, 174, .25);
}
@media screen and (min-width: 768px)
{
    .header .navbar-collapse
    {
        box-shadow: none !important;
    }
}
.login .header .navbar-collapse
{
    box-shadow: 0 10px 10px 0 rgba(43, 198, 212, .25);
}

/* ==========================================================================
   4.2-content
   ========================================================================== */
#page-wrapper
{
    border: none;
}
