﻿<div class="page-top">
    <h1 class="page-header">
        <i class="fa fa-dashboard fa-fw"></i> Administrator Home
    </h1>
</div>

<div class="page-main">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Admin dashboard goes here!</p>
        </div>
    </div>
</div>