﻿@using LearningBase.Mvc.Infrastructure.Presentation
@model LearningBase.Mvc.Areas.Administrator.Models.Student.CreatePartialVm

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="panel-subtitle">
                    @Resource.Student_CreateFormTitle
                </h2>
                @Html.BtMaintenanceFormErrorPane()
                <form class="form-horizontal"
                      id="maintenanceForm"
                      data-url="@Url.Action("Create", "Student")"
                      data-saved-message="@Resource.General_SavedInfoMessage">
                    
                    @Html.BtTextEditorWithLabel(model => model.FirstName)
                    @Html.BtTextEditorWithLabel(model => model.LastName)
                    @Html.BtEmailEditorWithLabel(model => model.EmailAddress)
                    <hr/>
                    @Html.BtDropDownWithLabel(model => model.CourseId, this.Model.CourseSelectList, Resource.Student_CourseSelectInfo)
                    <hr/>
                    @Html.BtTextEditorWithLabel(model => model.UserName)
                    @Html.BtPasswordEditorWithLabel(model => model.Password)
                    @Html.BtPasswordEditorWithLabel(model => model.ConfirmPassword)
                    @Html.BtMaintenanceButtonRowWithLabel(model => model.MaintenanceButtonRow)

                </form>
            </div>
        </div>
    </div>
</div>