﻿@using LearningBase.Mvc.Infrastructure.Presentation
@model LearningBase.Mvc.Areas.Administrator.Models.Student.EditPartialVm

<div style="visibility: hidden" id="js-register"
>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="panel-subtitle">
                    @Resource.Student_EditFormTitle
                </h2>
                @Html.BtMaintenanceFormErrorPane()
                <form class="form-horizontal"
                      id="maintenanceForm"
                      data-edit-url="@Url.Action("Edit", "Student")"
                      data-delete-url="@Url.Action("Delete", "Student")"
                      data-saved-message="@Resource.General_SavedInfoMessage"
                      data-delete-confirmation-message="@Resource.Student_DeleteConfirmationMessage"
                      data-delete-message="@Resource.General_DeletedInfoMessage">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.UserId)

                    @Html.BtTextEditorWithLabel(model => model.FirstName)
                    @Html.BtTextEditorWithLabel(model => model.LastName)
                    @Html.BtEmailEditorWithLabel(model => model.EmailAddress)
                    <hr/>
                    @Html.BtDropDownWithLabel(model => model.CourseId, this.Model.CourseSelectList, Resource.Student_CourseSelectInfo)
                    <hr/>
                    @Html.BtTextEditorWithLabel(model => model.UserName)

                    @Html.Partial("_AuditField", Model)
                    @Html.BtMaintenanceButtonRowWithLabel(model => model.MaintenanceButtonRow)
                </form>
            </div>
        </div>
    </div>
</div>