﻿<div class="page-top">
    <h1 class="page-header">
        <i class="fa fa-user fa-fw"></i> @Resource.Student_IndexTitle
    </h1>
</div>

<div class="page-main">
    <div class="panel panel-default">
        <div class="panel-body">

            <table id="gridStudent"
                   class="table table-condensed table-hover table-striped"
                   data-url="@Url.Action("GetStudentGridJson", "Student")"
                   data-create-url="@Url.Action("Create", "Student")"
                   data-edit-url="@Url.Action("Edit", "Student")">
                <thead>
                <tr class="head-table">
                    <th data-column-id="UserName" data-formatter="UserName" class="head-table">@Resource.Student_UserName</th>
                    <th data-column-id="EmailAddress" data-formatter="EmailAddress" class="head-table">@Resource.Student_EmailAddress</th>
                    <th data-column-id="CreatedDateTime" data-formatter="CreatedDateTime" class="head-table">@Resource.Student_CreatedDateTime</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th colspan="3">
                        <button type="button" class="btn btn-xs btn-primary command-add" data-row-id="undefined">
                            <span class="fa fa-plus"></span>
                        </button>
                    </th>
                </tr>
                </tfoot>
            </table>

        </div>
        <!-- /.panel-body -->
    </div>

    <div id="maintenancePane"></div>
</div>

@*@Html.Partial("_AddExtensionDayDialog")*@

@*<script>
    var triggerMode = false;
    var triggerId = false;

    $(document)
        .ready(function() {

            $('#studentTab a')
                .click(function() {
                    closeMaintenanceWindow();
                });

            $("#gridActiveStudent")
                .bootgrid({
                    ajax: true,
                    post: function() {
                        return{
                            ActiveStudentCriteria: $("input[name=ActiveStudentCriteria]:checked").val()
                        };
                    },
                    url: '@Url.Action("GetActiveStudentGridJson", "Student")',
                    formatters: {
                        "UserName": function(column, row) {
                            return '<a href="#" class="studentNameLink" id="' + row.Id + '">' + row.UserName + '</a>';
                        },
                        "Action": function(column, row) {
                            return '<a href="#" class="suspendLink" id="' +
                                row.Id +
                                '" data-toggle="tooltip" data-placement="top" title="Suspend Student ' +
                                row.UserName +
                                '">' +
                                '<span class="fa-stack"><i class="fa fa-ban fa-stack-2x"></i><i class="fa fa-user-o fa-stack-1x"></i></span></a>' +
                                '&nbsp;&nbsp;&nbsp;<a href="#" class="changePackageLink" id="' +
                                row.Id +
                                '" data-toggle="tooltip" data-placement="top" title="Change Package ' +
                                row.UserName +
                                '"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>';
                        }
                    }
                })
                .on("loaded.rs.jquery.bootgrid",
                    function() {
                        $('[data-toggle="tooltip"]').tooltip();
                        $('.command-add')
                            .on("click",
                                function() {

                                    showProcessingDialog();

                                    var maintenanceDiv = $('#maintenancePane');
                                    var url = '@Url.Action("Create", "Student")';

                                    $.get(url,
                                        function(data) {
                                            maintenanceDiv.html(data);
                                            hideProcessingDialog();
                                            $('html, body')
                                                .animate({
                                                        scrollTop:
                                                            $('#maintenancePane').offset().top - 75
                                                    },
                                                    'slow');
                                        });
                                });

                        $('.suspendLink')
                            .on("click",
                                function(e) {
                                    e.preventDefault();

                                    var url = '@Url.Action("Suspend", "Student")';
                                    url += '?studentId=' + $(this).attr('id');

                                    showConfirmationDialog('@Resource.Student_SuspendConfirmationMessage',
                                        function() {
                                            showProcessingDialog();
                                            setTimeout(function() {
                                                    $.ajax({
                                                        cache: false,
                                                        async: true,
                                                        type: "POST",
                                                        url: url,
                                                        success: function(data) {
                                                            if (data.IsSuccess) {
                                                                hideProcessingDialog();
                                                                showInfoDialog('@Resource.Student_SuspendSuccessConfirmationMessage');
                                                                reloadStudentGrid();
                                                            } else {
                                                                processErrorPostResponse(data);
                                                            }
                                                            var maintenanceDiv = $('#maintenancePane');
                                                            maintenanceDiv.empty();
                                                        },
                                                        error: function() {
                                                            alert("Error when sending request...");
                                                            hideProcessingDialog();
                                                            return false;
                                                        }
                                                    });
                                                },
                                                500);
                                        });
                                });

                        $('.changePackageLink')
                            .on("click",
                                function(e) {
                                    e.preventDefault();

                                    var url = '@Url.Action("ChangePackage", "Student")';
                                    url += '?studentId=' + $(this).attr('id');

                                    $.get(url,
                                        function(data) {
                                            $('#studentPackageForm').html(data);
                                            $('#studentPackageDialog').modal();
                                        });
                                });


                        $('.studentNameLink')
                            .on("click",
                                function(e) {
                                    e.preventDefault();

                                    showProcessingDialog();

                                    var maintenanceDiv = $('#maintenancePane');
                                    var url = '@Url.Action("Edit", "Student")';
                                    url += '?studentId=' + $(this).attr('id');

                                    $.get(url,
                                        function(data) {
                                            maintenanceDiv.html(data);
                                            hideProcessingDialog();
                                            $('html, body')
                                                .animate({
                                                        scrollTop:
                                                            $('#maintenancePane').offset().top - 75
                                                    },
                                                    'slow');
                                        });
                                });

                        if (triggerMode) {
                            $('#' + triggerId + '', '#gridActiveStudent').trigger('click');

                            triggerMode = false;
                            triggerId = 0;
                        }

                    });

            $("#gridInactiveStudent")
                .bootgrid({
                    ajax: true,
                    post: function() {
                        return {
                            InActiveStudentCriteria: $("input[name=InactiveStudentCriteria]:checked").val()
                        };
                    },
                    url: '@Url.Action("GetInactiveStudentGridJson", "Student")',
                    formatters: {
                        "UserName": function(column, row) {
                            return '<a href="#" class="studentNameLink" id="' + row.Id + '">' + row.UserName + '</a>';
                        },
                        "InactiveNotes": function(column, row) {
                            return '<span data-toggle="tooltip" data-placement="top" title="' +
                                row.Notes +
                                '">' +
                                row.Notes +
                                '</span>';
                        },
                        "Action": function(column, row) {
                            var html = "";
                            if (row.IsActivated === false) {
                                html += '<a href="#" class="activateEmailLink" id="' +
                                    row.Id +
                                    '" data-toggle="tooltip" data-placement="top" title="Activate Email ' +
                                    row.EmailAddress +
                                    '">' +
                                    '<i class="fa fa-envelope-open-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;';
                            }
                            if (row.IsSuspended) {
                                html += '<a href="#" class="activateStudentLink" id="' +
                                    row.Id +
                                    '" data-toggle="tooltip" data-placement="top" title="Activate Student ' +
                                    row.UserName +
                                    '">' +
                                    '<i class="fa fa-check-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;';
                            }
                            if (row.IsSuspended === false && row.IsRegistrationCompleted === false) {
                                html += '<a href="#" class="suspendInactiveLink" id="' +
                                    row.Id +
                                    '" data-toggle="tooltip" data-placement="top" title="Suspend Student ' +
                                    row.UserName +
                                    '">' +
                                    '<span class="fa-stack"><i class="fa fa-ban fa-stack-2x"></i><i class="fa fa-user-o fa-stack-1x"></i></span></a>';
                            }

                            return html;
                        }
                    }
                })
                .on("loaded.rs.jquery.bootgrid",
                    function() {
                        $('[data-toggle="tooltip"]').tooltip();
                        $('.command-add')
                            .on("click",
                                function() {

                                    showProcessingDialog();

                                    var maintenanceDiv = $('#maintenancePane');
                                    var url = '@Url.Action("Create", "Student")';

                                    $.get(url,
                                        function(data) {
                                            maintenanceDiv.html(data);
                                            hideProcessingDialog();
                                            $('html, body')
                                                .animate({
                                                        scrollTop:
                                                            $('#maintenancePane').offset().top - 75
                                                    },
                                                    'slow');
                                        });
                                });

                        $('.studentNameLink')
                            .on("click",
                                function(e) {
                                    e.preventDefault();

                                    showProcessingDialog();

                                    var maintenanceDiv = $('#maintenancePane');
                                    var url = '@Url.Action("Edit", "Student")';
                                    url += '?studentId=' + $(this).attr('id');

                                    $.get(url,
                                        function(data) {
                                            maintenanceDiv.html(data);
                                            hideProcessingDialog();
                                            $('html, body')
                                                .animate({
                                                        scrollTop:
                                                            $('#maintenancePane').offset().top - 75
                                                    },
                                                    'slow');
                                        });
                                });


                        $('.suspendInactiveLink')
                            .on("click",
                                function(e) {
                                    e.preventDefault();

                                    var url = '@Url.Action("Suspend", "Student")';
                                    url += '?studentId=' + $(this).attr('id');

                                    showConfirmationDialog('@Resource.Student_SuspendConfirmationMessage',
                                        function() {
                                            showProcessingDialog();
                                            setTimeout(function() {
                                                    $.ajax({
                                                        cache: false,
                                                        async: true,
                                                        type: "POST",
                                                        url: url,
                                                        success: function(data) {
                                                            if (data.IsSuccess) {
                                                                hideProcessingDialog();
                                                                showInfoDialog('@Resource.Student_SuspendSuccessConfirmationMessage');
                                                                reloadStudentGrid();
                                                            } else {
                                                                processErrorPostResponse(data);
                                                            }
                                                            var maintenanceDiv = $('#maintenancePane');
                                                            maintenanceDiv.empty();
                                                        },
                                                        error: function() {
                                                            alert("Error when sending request...");
                                                            hideProcessingDialog();
                                                            return false;
                                                        }
                                                    });
                                                },
                                                500);
                                        });
                                });

                        if (triggerMode) {
                            $('#' + triggerId + '', '#gridInactiveStudent').trigger('click');

                            triggerMode = false;
                            triggerId = 0;
                        }

                    });

            $("#gridNewStudent")
               .bootgrid({
                   ajax: true,
                   post: function () {
                       return {
                           InActiveStudentCriteria: $("input[name=InactiveStudentCriteria]:checked").val()
                       };
                   },
                   url: '@Url.Action("GetNewStudentGridJson", "Student")',
                   formatters: {
                       "UserName": function (column, row) {
                           return '<a href="#" class="studentNameLink" id="' + row.Id + '">' + row.UserName + '</a>';
                       },
                       "InactiveNotes": function (column, row) {
                           return '<span data-toggle="tooltip" data-placement="top" title="' +
                               row.Notes +
                               '">' +
                               row.Notes +
                               '</span>';
                       },
                       "Action": function (column, row) {
                           var html = "";
                           if (row.IsActivated === false) {
                               html += '<a href="#" class="activateEmailLink" id="' +
                                   row.Id +
                                   '" data-toggle="tooltip" data-placement="top" title="Activate Email ' +
                                   row.EmailAddress +
                                   '">' +
                                   '<i class="fa fa-envelope-open-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;';
                           }
                           if (row.IsRegistrationCompleted === false) {
                               html += '<a href="#" class="suspendInactiveLink" id="' +
                                   row.Id +
                                   '" data-toggle="tooltip" data-placement="top" title="Suspend Student ' +
                                   row.UserName +
                                   '">' +
                                   '<span class="fa-stack"><i class="fa fa-ban fa-stack-2x"></i><i class="fa fa-user-o fa-stack-1x"></i></span></a>';
                           }

                           return html;
                       }
                   }
               })
               .on("loaded.rs.jquery.bootgrid",
                   function () {
                       $('[data-toggle="tooltip"]').tooltip();
                       $('.command-add')
                           .on("click",
                               function () {

                                   showProcessingDialog();

                                   var maintenanceDiv = $('#maintenancePane');
                                   var url = '@Url.Action("Create", "Student")';

                                   $.get(url,
                                       function (data) {
                                           maintenanceDiv.html(data);
                                           hideProcessingDialog();
                                           $('html, body')
                                               .animate({
                                                   scrollTop:
                                                       $('#maintenancePane').offset().top - 75
                                               },
                                                   'slow');
                                       });
                               });

                       $('.studentNameLink')
                           .on("click",
                               function (e) {
                                   e.preventDefault();

                                   showProcessingDialog();

                                   var maintenanceDiv = $('#maintenancePane');
                                   var url = '@Url.Action("Edit", "Student")';
                                   url += '?studentId=' + $(this).attr('id');

                                   $.get(url,
                                       function (data) {
                                           maintenanceDiv.html(data);
                                           hideProcessingDialog();
                                           $('html, body')
                                               .animate({
                                                   scrollTop:
                                                       $('#maintenancePane').offset().top - 75
                                               },
                                                   'slow');
                                       });
                               });

                       $('.activateStudentLink')
                           .on("click",
                               function (e) {
                                   e.preventDefault();

                                   var url = '@Url.Action("ActivateStudent", "Student")';
                                   url += '?studentId=' + $(this).attr('id');

                                   showConfirmationDialog('@Resource.Student_ActivateStudentConfirmationMessage',
                                       function () {
                                           showProcessingDialog();
                                           setTimeout(function () {
                                               $.ajax({
                                                   cache: false,
                                                   async: true,
                                                   type: "POST",
                                                   url: url,
                                                   success: function (data) {
                                                       if (data.IsSuccess) {
                                                           hideProcessingDialog();
                                                           showInfoDialog('@Resource.Student_ActivateStudentSuccessMessage');
                                                           reloadStudentGrid();
                                                       } else {
                                                           processErrorPostResponse(data);
                                                       }
                                                       var maintenanceDiv = $('#maintenancePane');
                                                       maintenanceDiv.empty();
                                                   },
                                                   error: function () {
                                                       alert("Error when sending request...");
                                                       hideProcessingDialog();
                                                       return false;
                                                   }
                                               });
                                           },
                                               500);
                                       });

                               });

                       $('.activateEmailLink')
                           .on("click",
                               function (e) {
                                   e.preventDefault();

                                   var url = '@Url.Action("ActivateEmail", "Student")';
                                   url += '?studentId=' + $(this).attr('id');

                                   showConfirmationDialog('@Resource.Student_ActivateEmailConfirmationMessage',
                                       function () {
                                           showProcessingDialog();
                                           setTimeout(function () {
                                               $.ajax({
                                                   cache: false,
                                                   async: true,
                                                   type: "POST",
                                                   url: url,
                                                   success: function (data) {
                                                       if (data.IsSuccess) {
                                                           hideProcessingDialog();
                                                           showInfoDialog('@Resource.Student_ActivateEmailSuccessMessage');
                                                           reloadStudentGrid();
                                                       } else {
                                                           processErrorPostResponse(data);
                                                       }
                                                       var maintenanceDiv = $('#maintenancePane');
                                                       maintenanceDiv.empty();
                                                   },
                                                   error: function () {
                                                       alert("Error when sending request...");
                                                       hideProcessingDialog();
                                                       return false;
                                                   }
                                               });
                                           },
                                               500);
                                       });

                               });

                       if (triggerMode) {
                           $('#' + triggerId + '', '#gridInactiveStudent').trigger('click');

                           triggerMode = false;
                           triggerId = 0;
                       }

                   });

            $("#gridExpiredStudent")
                .bootgrid({
                    ajax: true,
                    post: function() {
                        return {
                            ExpiredStudentCriteria: $("input[name=ExpiredStudentCriteria]:checked").val()
                        };
                    },
                    url: '@Url.Action("GetExpiredStudentGridJson", "Student")',
                    formatters: {
                        "UserName": function(column, row) {
                            return '<a href="#" class="studentNameLink" id="' + row.Id + '">' + row.UserName + '</a>';
                        },
                        "Action": function(column, row) {
                            return '<a href="#" class="addExtensionLink" id="' +
                                row.Id +
                                '" data-toggle="tooltip" data-placement="top" title="Extend expired date for ' +
                                row.UserName +
                                '"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></a>';
                        }
                    }
                })
                .on("loaded.rs.jquery.bootgrid",
                    function() {
                        $('[data-toggle="tooltip"]').tooltip();
                        $('.command-add')
                            .on("click",
                                function() {

                                    showProcessingDialog();

                                    var maintenanceDiv = $('#maintenancePane');
                                    var url = '@Url.Action("Create", "Student")';

                                    $.get(url,
                                        function(data) {
                                            maintenanceDiv.html(data);
                                            hideProcessingDialog();
                                            $('html, body')
                                                .animate({
                                                        scrollTop:
                                                            $('#maintenancePane').offset().top - 75
                                                    },
                                                    'slow');
                                        });
                                });

                        $('.studentNameLink')
                            .on("click",
                                function(e) {
                                    e.preventDefault();

                                    showProcessingDialog();

                                    var maintenanceDiv = $('#maintenancePane');
                                    var url = '@Url.Action("Edit", "Student")';
                                    url += '?studentId=' + $(this).attr('id');

                                    $.get(url,
                                        function(data) {
                                            maintenanceDiv.html(data);
                                            hideProcessingDialog();
                                            $('html, body')
                                                .animate({
                                                        scrollTop:
                                                            $('#maintenancePane').offset().top - 75
                                                    },
                                                    'slow');
                                        });
                                });

                        $('.addExtensionLink')
                            .on("click",
                                function(e) {
                                    e.preventDefault();

                                    var url = '@Url.Action("AddExtensionDay", "Student")';
                                    url += '?studentId=' + $(this).attr('id');

                                    $.get(url,
                                        function(data) {
                                            $('#addExtensionDayForm').html(data);
                                            $('#addExtensionDayDialog').modal();
                                        });
                                });


                        if (triggerMode) {
                            $('#' + triggerId + '', '#gridInactiveStudent').trigger('click');

                            triggerMode = false;
                            triggerId = 0;
                        }

                    });

        });

    function triggerClickedLink(id) {
        triggerMode = true;
        triggerId = id;
    }

    function reloadStudentGrid() {
        $('#gridActiveStudent').bootgrid('reload');
        $('#gridInactiveStudent').bootgrid('reload');
        $('#gridExpiredStudent').bootgrid('reload');
        $('#gridNewStudent').bootgrid('reload');
    }

    $("input[name=ActiveStudentCriteria]")
        .click(function() {
            $('#gridActiveStudent').bootgrid('reload');
        });

    $("input[name=InactiveStudentCriteria]")
        .click(function() {
            $('#gridInactiveStudent').bootgrid('reload');
        });

    $("input[name=ExpiredStudentCriteria]")
        .click(function() {
            $('#gridExpiredStudent').bootgrid('reload');
        });
</script>*@

