﻿.site_css_starts_here_do_not_delete { }

.m-r-0 { margin-right: 0; }

.m-r-20 { margin-right: 20px; }

.margin-bottom-20 { margin-bottom: 20px !important; }

.m-l-20 { margin-left: 20px; }

.margin-right-10 { margin-right: 10px !important; }

.margin-left-10 { margin-left: 10px !important; }

.margin-bottom-20 { margin-bottom: 20px !important; }

.m-t-20 { margin-top: 20px; }

.margin-bottom-20 { margin-bottom: 20px !important; }

label.error {
    color: #a94442;
    font-weight: normal;
}

h4.sub-title {
    border-bottom: 1px solid #eee;
    margin: 40px 0 20px;
    padding-bottom: 9px;
}

.tab-padding {
    padding-bottom: 15px;
    padding-top: 15px;
}

video {
    height: auto;
    width: 100%;
}

.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.video-container iframe,
.video-container object,
.video-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.container-white { background-color: #fff; }

.no-padding-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-left { padding-left: 0 !important; }

.no-padding-right { padding-right: 0 !important; }

.button-margin { margin-top: 20px; }

.hidden { display: none; }

.wrong-answer {
    background-color: #f4bebd !important;
    border: 1px solid #a94442;
    color: #a94442;
}

.correct-answer {
    background-color: #a5c9a5 !important;
    border: 1px solid green;
    color: green;
}

.input-normal {
    display: inline;
    margin-left: 10px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.highlight-word {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    margin-top: 2px;
    padding: 2px 4px 2px 4px;
}

.highlighted { background-color: #ff0; }

.fill-in-the-blank-textbox { margin: 5px; }

tr.warning > td { font-weight: bold; }

td > p { padding: 5px; }

.gridster ul { list-style-type: none; }

.gridster .gs-w {
    background: #f0f0f0;
    cursor: move;
    padding: 10px;
}

.gridster .preview-holder {
    background: red !important;
    border: none !important;
}

.start-practice-info { text-align: center; }

.start-exercise-button { text-align: center; }

.exercise-text { line-height: 40px; }

.alert-info-lesson {
    margin-left: -15px;
    margin-right: -15px;
}

.writing-section {
    margin-left: 15px;
    margin-right: 15px;
}

.body--blue { background-color: #6bd7e1; }

.brand--center {
    float: none;
    margin: 0 auto;
}

.brand--large {
    background-size: 100%;
    padding: 40px;
}

.panel-registration {
    border-radius: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
    padding: 20px;
}

.panel-registration .panel-heading {
    border-bottom: 1px solid #6bd7e1;
    padding: 0 20px 20px;
}

.panel-registration .panel-title {
    font-size: 2.375rem;
    font-weight: 200;
}

.panel-registration .panel-discription {
    color: #999;
    font-style: italic;
    margin-bottom: 15px;
}

.panel-registration .panel-discription p { margin-bottom: 1rem; }

.panel-registration .panel-body { padding: 20px; }

.panel-registration .panel-footer {
    border: none;
    box-shadow: inset 0 5px 15px 0 rgba(0, 0, 0, 0.06);
    margin: 0 -20px -20px;
    padding: 10px 55px;
    text-align: right;
}

@media screen and (max-width: 468px) {
    .panel-registration .panel-footer {
        padding: 10px 20px;
        text-align: center;
    }
}

.panel-registration .panel-footer .form-group { margin-bottom: 0; }

.panel-footer.text-center { text-align: center; }

.panel-footer .btn { margin: 0; }

.panel-footer .btn + .btn { margin-left: 10px; }

.control-label--block { display: block; }

.modal--confirmation .modal-body,
.modal--loading .modal-body {
    padding-left: 40px;
    padding-right: 40px;
}

.modal--confirmation .modal-content,
.modal--loading .modal-content {
    border: none;
    border-radius: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
}

.modal--confirmation .modal-dialog { margin-top: 100px; }

.modal--confirmation .modal-header {
    border-bottom: 1px solid #6bd7e1;
    border-radius: 0;
    font-size: 24px;
    font-weight: 300;
    margin: 0 20px;
    position: relative;
}

.modal--confirmation .bootstrap-dialog-close-button {
    background-color: #fff;
    border-radius: 50%;
    float: none;
    height: 24px;
    opacity: 1;
    position: absolute;
    right: 0;
    text-align: center;
    top: 13px;
    width: 24px;
}

.modal--confirmation .close {
    background-color: #7b5be0;
    border-radius: 50%;
    color: #fff;
    float: none;
    line-height: 24px;
    margin: 0;
    opacity: .5;
    text-shadow: none;
    width: 24px;
}

.modal--confirmation .close:hover, .modal--confirmation .close:focus { opacity: 1; }

.modal--confirmation .modal-footer {
    background-color: #f5f5f5;
    box-shadow: inset 0 5px 15px 0 rgba(0, 0, 0, 0.06);
    padding: 10px 20px;
}

@media screen and (max-width: 468px) {
    .modal--confirmation .modal-footer { text-align: center; }
}

.modal--confirmation .btn {
    padding-left: 48px;
    padding-right: 48px;
}

@media screen and (max-width: 468px) {
    .modal--confirmation .btn {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.modal--loading .modal-dialog { margin-top: calc(50vh - 24px); }

.modal--loading .modal-body { text-align: center; }

.modal--loading .icon { margin-right: 10px; }

.preview {
    font-size: 14px;
    margin: 0 .1em;
    padding: .3em .4em .4em;
}

.preview a {
    color: #fff;
    cursor: pointer;
    opacity: .6;
}

.preview a:hover { opacity: 1; }

.preview .remove {
    top: 0;
    vertical-align: bottom;
}

.preview a { margin: 0 0 0 .3em; }

.preview a .fa-trash-o {
    color: #fff;
    margin-bottom: 2px;
}

#filePreview { margin-bottom: 20px; }

.login-link {
    color: #f6fafb;
    margin-left: 15px;
    margin-top: 10px;
}

.login-link a {
    color: #fff;
    font-weight: normal;
}

.login-orlabel {
    margin-top: 10px;
    text-align: center;
}

.captcha-index { margin-bottom: 110px; }

.profile-userpic img {
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-left: 4px solid #fff;
    border-radius: 50% !important;
    border-right: 4px solid #fff;
    float: none;
    height: 50%;
    margin: 12px auto 0;
    padding: 6px;
    width: 50%;
}

.profile-usertitle {
    color: #fff;
    margin-top: 16px;
    text-align: center;
}

.profile-usertitle-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
}

.profile-usertitle-title {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.cropper-view-box,
.cropper-face { border-radius: 50%; }

.label-assessment { padding-top: 7px; }

.label-free {
    position: absolute;
    right: 15px;
    top: 12px;
}

.assessment { top: 5px; }

.cropper-view-box,
.cropper-face { border-radius: 50%; }

.header-chat {
    background-color: #fff;
    z-index: 5000;
}

.text--white { color: #fff !important; }

html * { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

body {
    background-color: #f4f5f6;
    color: #3b3b3b;
    font-family: inherit;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem;
    position: static;
}

body.login { background-color: #fff; }

h1,
h2,
h3,
h4,
h5 { color: #141414; }

h1 {
    font-family: inherit;
    font-size: 2.375rem;
    font-style: inherit;
    font-weight: 600;
    line-height: 2.625rem;
    margin-bottom: 0;
    margin-top: 1.3125rem;
}

h2 {
    font-family: inherit;
    font-size: 1.43rem;
    font-style: inherit;
    font-weight: 600;
    line-height: 2.625rem;
    margin-bottom: 1.3125rem;
    margin-top: 1.3125rem;
}

h3 {
    font-family: inherit;
    font-size: 1.286rem;
    font-style: inherit;
    font-weight: 600;
    line-height: 1.3125rem;
    margin-bottom: 0;
    margin-top: 1.3125rem;
}

h4 {
    font-family: inherit;
    font-size: .875rem;
    font-style: inherit;
    font-weight: 600;
    line-height: 1.3125rem;
    margin-bottom: 0;
    margin-top: 1.3125rem;
}

h5 {
    font-family: inherit;
    font-size: .875rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.3125rem;
    margin-bottom: 0;
    margin-top: 1.3125rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-bottom: 1.3125rem;
    margin-top: 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0;
    margin-top: 0;
}

b,
strong,
em,
small,
code { line-height: 1; }

sup {
    line-height: 0;
    position: relative;
    top: -.5em;
    vertical-align: baseline;
}

sub { bottom: -.25em; }

a { color: #7b5be0; }

a:hover,
a:focus { color: #3d1e9e; }

.avatar {
    border: 4px solid #7b5be0;
    border-radius: 50%;
    height: 120px;
    margin: 0 auto 20px;
    overflow: hidden;
    width: 120px;
}

.panel-accordion {
    border-color: #ddd;
    padding: 0 20px;
}

.panel-accordion:hover,
.panel-accordion:focus,
.panel-accordion:active { border-color: #7b5be0; }

.panel-task {
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 1, 0.12);
    margin-bottom: 12px !important;
    overflow: hidden;
    padding: 0 15px;
}

.panel-task:hover,
.panel-task:focus,
.panel-task:active {
    border-color: #7b5be0;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 1, 0.12);
}

.panel-task__label {
    border-bottom: 1px solid #ddd;
    font-weight: 600 !important;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.panel-task .panel-collapse {
    margin-left: -15px;
    margin-right: -15px;
}

.panel-task .par-history {
    color: #999;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0;
}

.panel-task.panel-success { border-color: #1fce61; }

.panel-task .collapsed .fa-angle-right { transform: rotate(0); }

.panel-task .fa-angle-right {
    left: 15px;
    right: auto !important;
    transform: rotate(90deg);
    transition: transform .3s;
}

.panel-accordion .panel-exercise {
    box-shadow: none;
    margin: 12px -35px 0;
}

.panel-accordion .panel-exercise {
    box-shadow: none;
    margin: 12px -35px 0;
}

.panel-video { margin-bottom: 0; }

@media screen and (min-width: 768px) {
    .panel-video.affix,
    .panel-video.affix-top {
        max-width: calc(50% - 30px);
        position: fixed !important;
    }
}

.panel-accordion > .panel-heading {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    color: #666;
    margin: 0 -15px;
    padding: 0;
}

.panel-accordion > .panel-heading,
.panel-task > .panel-heading {
    margin: 0 -15px;
    padding: 0;
}

.panel-accordion > .panel-heading .panel-title > a,
.panel-task > .panel-heading .panel-title > a {
    display: block;
    font-weight: normal;
    padding: 10px 10px 10px 35px;
    text-decoration: none;
    transition: padding-left .3s ease-out;
}

.panel-accordion > .panel-heading .panel-title > a:hover,
.panel-accordion > .panel-heading .panel-title > a:focus,
.panel-task > .panel-heading .panel-title > a:hover,
.panel-task > .panel-heading .panel-title > a:focus {
    color: #7b5be0;
    padding-left: 35px;
    text-decoration: none;
}

.panel-accordion > .panel-heading .panel-title > a.collapsed,
.panel-task > .panel-heading .panel-title > a.collapsed { padding-left: 10px; }

.panel-accordion > .panel-heading .panel-title > a.collapsed:hover,
.panel-task > .panel-heading .panel-title > a.collapsed:hover { padding-left: 35px; }

.panel-accordion > .panel-heading .collapsed .fa-angle-right,
.panel-task > .panel-heading .collapsed .fa-angle-right {
    opacity: 0;
    transform: translateX(0);
}

.panel-accordion > .panel-heading:hover,
.panel-task > .panel-heading:hover { cursor: pointer; }

.panel-accordion > .panel-heading:hover .fa-angle-right,
.panel-task > .panel-heading:hover .fa-angle-right {
    opacity: 1;
    transform: translateX(15px) rotate(90deg);
}

.panel-accordion > .panel-heading:hover .collapsed .fa-angle-right,
.panel-task > .panel-heading:hover .collapsed .fa-angle-right {
    opacity: 1;
    transform: translateX(15px);
}

.panel-accordion > .panel-heading .fa-angle-right,
.panel-task > .panel-heading .fa-angle-right {
    left: 0;
    opacity: 1;
    right: auto;
    transform: translateX(15px) rotate(90deg);
    transition: transform, opacity .3s ease-out;
}

.panel-success .panel-heading {
    background-color: #1fce61;
    color: #fff;
}

.panel-exercise .panel-heading {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding-left: 30px;
}

.panel-task .panel-title {
    color: #666;
    font-size: 14px;
    font-weight: normal;
}

.panel-task .panel-title .badge {
    background-color: #fff;
    color: #ccc;
    float: right;
    font-style: italic;
    font-weight: 600;
    padding-right: 20px;
    position: relative;
}

.panel-task .panel-title .badge:before {
    background-color: transparent;
    border: 3px solid #6bd7e1;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 12px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 12px;
}

.panel-task .panel-title .badge.badge--success { color: #1fce61; }

.panel-task .panel-title .badge.badge--success:before { border-color: #1fce61; }

.panel-task .panel-title .badge.badge--free { color: #0f9240; }

.panel-task .panel-title .badge.badge--free:before { border-color: #0f9240; }

.panel-task .panel-title .badge.badge--upgrade { color: #a00; }

.panel-task .panel-title .badge.badge--upgrade:before { border-color: #a00; }

.panel-task .panel-title .badge.badge--inprogress { border: 1px solid #fdbb07; }

.panel-task .panel-title .badge.badge--inprogress:before { border-color: #fdbb07; }

.panel-success .panel-title > a:hover,
.panel-success .panel-title > a:focus { color: #fff !important; }

.panel-accordion > .panel-collapse > .panel-body { border-top: 1px solid #6bd7e1 !important; }

.panel-accordion:hover > .panel-collapse > .panel-body { border-top-color: #7b5be0 !important; }

.panel-task .panel-body { border-top: 0 !important; }

.panel-task .panel-footer {
    background-color: #f4f5f6;
    box-shadow: inset 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}

.user__container {
    padding: 20px;
    text-align: center;
}

.user__name,
.user__info { margin-bottom: 5px; }

.user__name {
    font-size: 18px;
    text-align: inherit;
}

.user__info { font-style: italic; }

.page-top {
    background-color: #7b5be0;
    border-bottom: 1px solid #e7e7e7;
    padding: 18px 30px;
    position: relative;
    z-index: 2;
}

.popup .page-top {
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (min-width: 768px) {
    .popup .page-top {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 45px;
        padding-right: 45px;
    }
}

.page-main { background-color: #fff; }

@media screen and (min-width: 768px) {
    .page-main {
        min-height: calc(100vh - 125px);
        padding: 30px;
    }
}

.page-main .top-content-nav .nav-tabs {
    border-bottom: 0;
    border-top: 1px solid #eee;
    padding: 0 30px;
}

.page-main .top-content-nav .nav-tabs:first-child { border-top-color: transparent; }

.page-main .top-content-nav .nav-tabs > li { border-left: 1px solid #eee; }

.page-main .top-content-nav .nav-tabs > li:last-child { border-right: 1px solid #eee; }

.page-main .top-content-nav .nav-tabs > li > a {
    color: #7b5be0;
    margin-right: 0;
    min-width: 75px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}

.page-main .top-content-nav .nav-tabs > li > a:focus,
.page-main .top-content-nav .nav-tabs > li > a:hover { border-bottom: 3px solid #ddd; }

.page-main .top-content-nav .nav-tabs > li.active > a { border-bottom: 3px solid #7b5be0; }

.popup .page-main .top-content-nav .nav-tabs { padding: 0; }

.page-main .top-content-nav .form-horizontal { padding: 15px; }

.page-main .top-content-nav .form-horizontal .form-group { margin-bottom: 0; }

.top-content-nav {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

@media screen and (min-width: 768px) {
    .top-content-nav {
        margin-left: -30px !important;
        margin-right: -30px;
        margin-top: -30px !important;
    }

    .popup .top-content-nav > .row { margin: 0; }
}

.top-content-nav .form-group + .form-group { margin-top: 12px; }

.nav-tabs > li > a { border-radius: 0; }

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    background-color: #f3f3f3;
    border-bottom: 3px solid #ddd;
}

.progress {
    border-radius: 9px;
    height: 18px;
    margin-bottom: 0;
    margin-right: 30px;
    overflow: visible;
    padding: 2px;
    position: relative;
}

.progress-bar {
    background: #6bd7e1;
    border-radius: 7px;
    min-width: 14px;
}

.progress-bar:after,
.progress-bar:before {
    color: #454c56;
    content: attr(aria-valuenow);
    display: inline-block;
    left: 100%;
    line-height: 18px;
    position: absolute;
    top: 0;
}

.progress-bar:before {
    content: attr(aria-valuenow);
    font-size: 14px;
    margin-left: 3px;
    text-align: right;
    width: 30px;
}

.progress-bar:after {
    content: '%';
    font-size: 10px;
    margin-left: 36px;
}

.progress-bar[aria-valuenow='0'],
.progress-bar[aria-valuenow='1'],
.progress-bar[aria-valuenow='2'],
.progress-bar[aria-valuenow='3'],
.progress-bar[aria-valuenow='4'],
.progress-bar[aria-valuenow='5'],
.progress-bar[aria-valuenow='6'],
.progress-bar[aria-valuenow='7'],
.progress-bar[aria-valuenow='8'],
.progress-bar[aria-valuenow='9'],
.progress-bar[aria-valuenow='10'],
.progress-bar[aria-valuenow='11'],
.progress-bar[aria-valuenow='12'],
.progress-bar[aria-valuenow='13'],
.progress-bar[aria-valuenow='14'],
.progress-bar[aria-valuenow='15'],
.progress-bar[aria-valuenow='16'],
.progress-bar[aria-valuenow='17'],
.progress-bar[aria-valuenow='18'],
.progress-bar[aria-valuenow='19'],
.progress-bar[aria-valuenow='20'],
.progress-bar[aria-valuenow='21'],
.progress-bar[aria-valuenow='22'],
.progress-bar[aria-valuenow='23'],
.progress-bar[aria-valuenow='24'] { background-color: #eb1c12; }

.progress-bar[aria-valuenow='25'],
.progress-bar[aria-valuenow='26'],
.progress-bar[aria-valuenow='27'],
.progress-bar[aria-valuenow='28'],
.progress-bar[aria-valuenow='29'],
.progress-bar[aria-valuenow='30'],
.progress-bar[aria-valuenow='31'],
.progress-bar[aria-valuenow='32'],
.progress-bar[aria-valuenow='33'],
.progress-bar[aria-valuenow='34'],
.progress-bar[aria-valuenow='35'],
.progress-bar[aria-valuenow='36'],
.progress-bar[aria-valuenow='37'],
.progress-bar[aria-valuenow='38'],
.progress-bar[aria-valuenow='39'],
.progress-bar[aria-valuenow='40'],
.progress-bar[aria-valuenow='41'],
.progress-bar[aria-valuenow='42'],
.progress-bar[aria-valuenow='43'],
.progress-bar[aria-valuenow='44'],
.progress-bar[aria-valuenow='45'],
.progress-bar[aria-valuenow='46'],
.progress-bar[aria-valuenow='47'],
.progress-bar[aria-valuenow='48'],
.progress-bar[aria-valuenow='49'] { background-color: #ff9f33; }

.progress-bar[aria-valuenow='50'],
.progress-bar[aria-valuenow='51'],
.progress-bar[aria-valuenow='52'],
.progress-bar[aria-valuenow='53'],
.progress-bar[aria-valuenow='54'],
.progress-bar[aria-valuenow='55'],
.progress-bar[aria-valuenow='56'],
.progress-bar[aria-valuenow='57'],
.progress-bar[aria-valuenow='58'],
.progress-bar[aria-valuenow='59'],
.progress-bar[aria-valuenow='60'],
.progress-bar[aria-valuenow='61'],
.progress-bar[aria-valuenow='62'],
.progress-bar[aria-valuenow='63'],
.progress-bar[aria-valuenow='64'],
.progress-bar[aria-valuenow='65'],
.progress-bar[aria-valuenow='66'],
.progress-bar[aria-valuenow='67'],
.progress-bar[aria-valuenow='68'],
.progress-bar[aria-valuenow='69'],
.progress-bar[aria-valuenow='70'],
.progress-bar[aria-valuenow='71'],
.progress-bar[aria-valuenow='72'],
.progress-bar[aria-valuenow='73'],
.progress-bar[aria-valuenow='74'] { background-color: #fc3; }

.progress-bar[aria-valuenow='75'],
.progress-bar[aria-valuenow='76'],
.progress-bar[aria-valuenow='77'],
.progress-bar[aria-valuenow='78'],
.progress-bar[aria-valuenow='79'],
.progress-bar[aria-valuenow='80'],
.progress-bar[aria-valuenow='81'],
.progress-bar[aria-valuenow='82'],
.progress-bar[aria-valuenow='83'],
.progress-bar[aria-valuenow='84'],
.progress-bar[aria-valuenow='85'],
.progress-bar[aria-valuenow='86'],
.progress-bar[aria-valuenow='87'],
.progress-bar[aria-valuenow='88'],
.progress-bar[aria-valuenow='89'],
.progress-bar[aria-valuenow='90'],
.progress-bar[aria-valuenow='91'],
.progress-bar[aria-valuenow='92'],
.progress-bar[aria-valuenow='93'],
.progress-bar[aria-valuenow='94'],
.progress-bar[aria-valuenow='95'],
.progress-bar[aria-valuenow='96'],
.progress-bar[aria-valuenow='97'],
.progress-bar[aria-valuenow='98'],
.progress-bar[aria-valuenow='99'] { background-color: #bcec38; }

.progress-bar[aria-valuenow='0'] { width: 0; }

.progress-bar[aria-valuenow='1'] { width: 1%; }

.progress-bar[aria-valuenow='2'] { width: 2%; }

.progress-bar[aria-valuenow='3'] { width: 3%; }

.progress-bar[aria-valuenow='4'] { width: 4%; }

.progress-bar[aria-valuenow='5'] { width: 5%; }

.progress-bar[aria-valuenow='6'] { width: 6%; }

.progress-bar[aria-valuenow='7'] { width: 7%; }

.progress-bar[aria-valuenow='8'] { width: 8%; }

.progress-bar[aria-valuenow='9'] { width: 9%; }

.progress-bar[aria-valuenow='10'] { width: 10%; }

.progress-bar[aria-valuenow='11'] { width: 11%; }

.progress-bar[aria-valuenow='12'] { width: 12%; }

.progress-bar[aria-valuenow='13'] { width: 13%; }

.progress-bar[aria-valuenow='14'] { width: 14%; }

.progress-bar[aria-valuenow='15'] { width: 15%; }

.progress-bar[aria-valuenow='16'] { width: 16%; }

.progress-bar[aria-valuenow='17'] { width: 17%; }

.progress-bar[aria-valuenow='18'] { width: 18%; }

.progress-bar[aria-valuenow='19'] { width: 19%; }

.progress-bar[aria-valuenow='20'] { width: 20%; }

.progress-bar[aria-valuenow='21'] { width: 21%; }

.progress-bar[aria-valuenow='22'] { width: 22%; }

.progress-bar[aria-valuenow='23'] { width: 23%; }

.progress-bar[aria-valuenow='24'] { width: 24%; }

.progress-bar[aria-valuenow='25'] { width: 25%; }

.progress-bar[aria-valuenow='26'] { width: 26%; }

.progress-bar[aria-valuenow='27'] { width: 27%; }

.progress-bar[aria-valuenow='28'] { width: 28%; }

.progress-bar[aria-valuenow='29'] { width: 29%; }

.progress-bar[aria-valuenow='30'] { width: 30%; }

.progress-bar[aria-valuenow='31'] { width: 31%; }

.progress-bar[aria-valuenow='32'] { width: 32%; }

.progress-bar[aria-valuenow='33'] { width: 33%; }

.progress-bar[aria-valuenow='34'] { width: 34%; }

.progress-bar[aria-valuenow='35'] { width: 35%; }

.progress-bar[aria-valuenow='36'] { width: 36%; }

.progress-bar[aria-valuenow='37'] { width: 37%; }

.progress-bar[aria-valuenow='38'] { width: 38%; }

.progress-bar[aria-valuenow='39'] { width: 39%; }

.progress-bar[aria-valuenow='40'] { width: 40%; }

.progress-bar[aria-valuenow='41'] { width: 41%; }

.progress-bar[aria-valuenow='42'] { width: 42%; }

.progress-bar[aria-valuenow='43'] { width: 43%; }

.progress-bar[aria-valuenow='44'] { width: 44%; }

.progress-bar[aria-valuenow='45'] { width: 45%; }

.progress-bar[aria-valuenow='46'] { width: 46%; }

.progress-bar[aria-valuenow='47'] { width: 47%; }

.progress-bar[aria-valuenow='48'] { width: 48%; }

.progress-bar[aria-valuenow='49'] { width: 49%; }

.progress-bar[aria-valuenow='50'] { width: 50%; }

.progress-bar[aria-valuenow='51'] { width: 51%; }

.progress-bar[aria-valuenow='52'] { width: 52%; }

.progress-bar[aria-valuenow='53'] { width: 53%; }

.progress-bar[aria-valuenow='54'] { width: 54%; }

.progress-bar[aria-valuenow='55'] { width: 55%; }

.progress-bar[aria-valuenow='56'] { width: 56%; }

.progress-bar[aria-valuenow='57'] { width: 57%; }

.progress-bar[aria-valuenow='58'] { width: 58%; }

.progress-bar[aria-valuenow='59'] { width: 59%; }

.progress-bar[aria-valuenow='60'] { width: 60%; }

.progress-bar[aria-valuenow='61'] { width: 61%; }

.progress-bar[aria-valuenow='62'] { width: 62%; }

.progress-bar[aria-valuenow='63'] { width: 63%; }

.progress-bar[aria-valuenow='64'] { width: 64%; }

.progress-bar[aria-valuenow='65'] { width: 65%; }

.progress-bar[aria-valuenow='66'] { width: 66%; }

.progress-bar[aria-valuenow='67'] { width: 67%; }

.progress-bar[aria-valuenow='68'] { width: 68%; }

.progress-bar[aria-valuenow='69'] { width: 69%; }

.progress-bar[aria-valuenow='70'] { width: 70%; }

.progress-bar[aria-valuenow='71'] { width: 71%; }

.progress-bar[aria-valuenow='72'] { width: 72%; }

.progress-bar[aria-valuenow='73'] { width: 73%; }

.progress-bar[aria-valuenow='74'] { width: 74%; }

.progress-bar[aria-valuenow='75'] { width: 75%; }

.progress-bar[aria-valuenow='76'] { width: 76%; }

.progress-bar[aria-valuenow='77'] { width: 77%; }

.progress-bar[aria-valuenow='78'] { width: 78%; }

.progress-bar[aria-valuenow='79'] { width: 79%; }

.progress-bar[aria-valuenow='80'] { width: 80%; }

.progress-bar[aria-valuenow='81'] { width: 81%; }

.progress-bar[aria-valuenow='82'] { width: 82%; }

.progress-bar[aria-valuenow='83'] { width: 83%; }

.progress-bar[aria-valuenow='84'] { width: 84%; }

.progress-bar[aria-valuenow='85'] { width: 85%; }

.progress-bar[aria-valuenow='86'] { width: 86%; }

.progress-bar[aria-valuenow='87'] { width: 87%; }

.progress-bar[aria-valuenow='88'] { width: 88%; }

.progress-bar[aria-valuenow='89'] { width: 89%; }

.progress-bar[aria-valuenow='90'] { width: 90%; }

.progress-bar[aria-valuenow='91'] { width: 91%; }

.progress-bar[aria-valuenow='92'] { width: 92%; }

.progress-bar[aria-valuenow='93'] { width: 93%; }

.progress-bar[aria-valuenow='94'] { width: 94%; }

.progress-bar[aria-valuenow='95'] { width: 95%; }

.progress-bar[aria-valuenow='96'] { width: 96%; }

.progress-bar[aria-valuenow='97'] { width: 97%; }

.progress-bar[aria-valuenow='98'] { width: 98%; }

.progress-bar[aria-valuenow='99'] { width: 99%; }

.progress-bar[aria-valuenow='100'] { width: 100%; }

.table-progress > thead > tr th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.table-progress > thead > tr th:last-child { border-right: 0; }

.table-progress > tbody > tr td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
}

.table-progress > tbody > tr td:last-child { border-right: 0; }

.panel-subtitle > .fa-stack {
    font-size: 14px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.panel-subtitle > .fa {
    color: #341a88;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.panel-subtitle .fa-stack .fa-stack-2x { color: #341a88; }

.list-questions { padding-left: 30px; }

.list-questions > li { margin-bottom: 12px; }

.list-questions .question {
    border-bottom: 1px solid #ddd;
    line-height: 1.74rem;
    margin-bottom: 12px;
    margin-left: -20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.navbar .sidebar { margin-top: 0; }

@media screen and (min-width: 768px) {
    .navbar .sidebar { margin-top: 60px; }
}

.point-excercise {
    color: #fff;
    font-size: 32px;
    font-weight: normal;
    margin: -15px 0;
    padding: 16px 45px 6px 20px;
    position: relative;
    text-align: right;
}

.point-excercise:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #24125d;
    content: '';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 24px;
    position: absolute;
    right: 18px;
    text-rendering: auto;
    top: 28px;
}

.point-excercise:before {
    color: #24125d;
    content: 'Total points';
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    line-height: .5;
    margin-right: -24px;
}

video::-internal-media-controls-download-button,
audio::-internal-media-controls-download-button { display: none; }

video::-webkit-media-controls-enclosure,
audio::-webkit-media-controls-enclosure { overflow: hidden; }

video::-webkit-media-controls-panel,
audio::-webkit-media-controls-panel { width: calc(100% + 30px); }

.dropdownlabelbutton {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #555;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857143;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 66%;
}

.dropdownlabelbutton[disabled] {
    background-color: #eee;
    opacity: 1;
}

.zero-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.panel-card-heading a { cursor: pointer; }

.input-normal.test-form {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.test-paragraph { margin-bottom: 0 !important; }

.line-height-20 { line-height: 20px; }

.multiple-choice-single-answer li { margin-bottom: 20px; }

html * { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

.body--blue { background-color: #6bd7e1; }

.brand--center {
    float: none;
    margin: 0 auto;
}

.brand--large {
    background-size: 100%;
    padding: 40px;
}

.modal--confirmation .modal-content,
.modal--loading .modal-content {
    border: 1px solid #7b5be0;
    border-radius: 0 !important;
    border-top-width: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
}

.panel-registration {
    border: 1px solid #7b5be0;
    border-radius: 0 !important;
    border-top-width: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
    margin-top: 80px;
    padding: 20px;
}

@media screen and (max-width: 767px) {
    .panel-registration { margin-top: 15px; }
}

.panel-payment {
    border: 1px solid #7b5be0;
    border-radius: 0 !important;
    border-top-width: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.12);
    margin-top: 80px;
    padding: 20px 30px;
}

@media screen and (max-width: 767px) {
    .panel-payment {
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 15px;
        padding: 15px;
    }
}

.panel-registration .panel-heading,
.panel-payment .panel-heading {
    border-bottom: 1px solid #6bd7e1;
    padding: 0 20px 20px;
}

.panel-payment .panel-heading:nth-child(n + 2) {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

.panel-registration .panel-title,
.panel-payment .panel-title {
    font-size: 2.375rem;
    font-weight: 200;
}

.panel-task .panel-title {
    border-bottom: 1px solid #ddd;
    color: #666;
    font-size: 14px;
    font-weight: normal;
}

.panel-default .panel-subtitle {
    border-bottom: 1px solid #ddd;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 0;
    padding: 0 15px 13px;
}

.panel-subtitle .fa-stack {
    font-size: 14px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.panel-registration .panel-subtitle,
.panel-payment .panel-subtitle {
    font-size: 1.375rem;
    font-weight: 300;
    margin-top: 0;
}

.panel-registration .panel-discription,
.panel-payment .panel-discription {
    color: #666;
    font-style: italic;
    margin-bottom: 15px;
}

.panel-registration .panel-discription p,
.panel-payment .panel-discription p { margin-bottom: 1rem; }

.panel-registration .panel-body,
.panel-payment .panel-body { padding: 20px; }

.panel-task .panel-body { border-top: 0 !important; }

.panel-task .panel-footer {
    background-color: #f4f5f6;
    box-shadow: inset 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}

.panel-registration .panel-footer,
.panel-payment .panel-footer {
    border: none;
    box-shadow: inset 0 5px 15px 0 rgba(0, 0, 0, 0.06);
    margin: 0 -20px -20px;
    padding: 10px 55px;
    text-align: right;
}

@media screen and (max-width: 468px) {
    .panel-registration .panel-footer,
    .panel-payment .panel-footer {
        padding: 10px 20px;
        text-align: center;
    }
}

.panel-registration .panel-footer .form-group,
.panel-payment .panel-footer .form-group { margin-bottom: 0; }

.panel-payment .panel-footer {
    margin-left: -30px;
    margin-right: -30px;
}

@media screen and (max-width: 767px) {
    .panel-payment .panel-footer {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media (min-width: 768px) {
    #page-wrapper {
        background-color: #f4f5f6;
        padding: 0 15px;
    }
}

.page-header {
    border: 0;
    color: #fff;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.page-header .fa { color: #341a88; }

.page-subheader {
    border-bottom: 1px solid #ddd;
    font-weight: 300;
    margin-bottom: 24px;
    padding: 0 15px 13px;
}

.page-subheader .fa {
    color: #341a88;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .page-top,
    .page-main {
        margin-left: -30px;
        margin-right: -30px;
    }
}

.popup .page-top,
.popup .page-main {
    margin-left: -15px;
    margin-right: -15px;
}

@media screen and (min-width: 768px) {
    .popup .page-top,
    .popup .page-main {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.table-progress > thead > tr th,
.table-payment > thead > tr th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.table-progress > thead > tr th:last-child,
.table-payment > thead > tr th:last-child { border-right: 0; }

.table-progress > tbody > tr td,
.table-payment > tbody > tr td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
}

.table-progress > tbody > tr td:last-child,
.table-payment > tbody > tr td:last-child { border-right: 0; }

.table-payment__package:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #6bd7e1;
    content: '';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 5px;
    text-rendering: auto;
}

.table-payment__total { font-weight: bold; }

.table-payment__total-value {
    border: 0;
    display: inline-block;
    text-align: inherit;
    width: calc(100% - 50px);
}

.table-payment__currency { text-align: right; }

.is-aud,
.is-usd { *zoom: 1; }

.is-aud:before,
.is-usd:before,
.is-aud:after,
.is-usd:after {
    content: " ";
    display: table;
}

.is-aud:after,
.is-usd:after { clear: both; }

.is-aud:before,
.is-usd:before {
    content: '$';
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.is-aud:after,
.is-usd:after {
    display: inline-block;
    margin-left: 3px;
}

.is-usd:after { content: ' USD'; }

.is-aud:after { content: ' AUD'; }

.btn-payment-popup {
    display: block;
    height: 28px;
    margin: 10px 0;
    padding-left: 25px;
}

.btn-payment-popup img { height: inherit !important; }

.list-questions { padding-left: 30px; }

.list-questions > li { margin-bottom: 12px; }

.form-horizontal .checkbox,
.form-horizontal .radio { padding-top: 0 !important; }

.form-horizontal .checkbox .control-label,
.form-horizontal .checkbox label,
.form-horizontal .checkbox .label,
.form-horizontal .radio .control-label,
.form-horizontal .radio label,
.form-horizontal .radio .label { padding-top: 0 !important; }

.no-border-bottom { border-bottom: none !important; }

.video-poster {
    background: url("../Images/spinner_128_anti_alias.gif") no-repeat center center;
    background-size: 10%;
}

.chat { margin-bottom: 25px; }

.chat-item {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.chat-message { margin-bottom: 5px; }

.chat-message.is-continuous-end { margin-bottom: 25px; }

.chat-message__header { margin-bottom: 0; }

.message-in .chat-message__header { text-align: right; }

.is-continuous .chat-message__header { display: none; }

.chat-message__name {
    font-size: 18px;
    margin-bottom: 5px;
}

.chat-message__meta {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    padding-left: 0;
    padding-right: 25px;
}

.message-in .chat-message__meta {
    padding-left: 25px;
    padding-right: 0;
}

.chat-message__status {
    background-color: #bcec38;
    border-radius: 9px;
    color: #607f0c;
    float: left;
    font-weight: bold;
    padding: 0 10px;
}

.message-in .chat-message__status { float: right; }

.chat-message__status.is-teacher {
    background-color: #ffd400;
    color: #650;
}

.chat-message__time-stamp {
    color: #999;
    display: block;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 5px;
}

.chat-message__time-stamp .fa { color: #341a88; }

.message-out .chat-message__time-stamp { text-align: right; }

.chat-message__body {
    margin-bottom: 5px;
    padding: 10px 25px;
}

.chat-message__content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    border-top-right-radius: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 30px;
    position: relative;
    word-wrap: break-word;
}

.chat-message__content p:last-child { margin-bottom: 0; }

.message-out .chat-message__content {
    background-color: #f4f1fc;
    border-top-left-radius: 0;
}

.chat-message__content:before,
.chat-message__content:after {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 0 0 12px 12px;
    content: '';
    display: inline-block;
    height: 0;
    position: absolute;
    right: 0;
    top: -12px;
    width: 0;
}

.message-out .chat-message__content:before,
.message-out .chat-message__content:after {
    border-color: transparent transparent transparent #f4f1fc;
    border-width: 12px 0 0 12px;
    left: 0;
    right: auto;
}

.is-continuous .chat-message__content:before,
.is-continuous .chat-message__content:after { display: none; }

.chat-message__content:before {
    border-color: transparent transparent #ddd transparent;
    border-width: 0 0 15px 15px;
    right: -1px;
    top: -15px;
}

.message-out .chat-message__content:before {
    border-color: transparent transparent transparent #ddd;
    border-width: 15px 0 0 15px;
    left: -1px;
    top: -15px;
}

.chat-message__footer { padding: 0 25px; }

.label-attachment {
    background-color: #ddd;
    color: #5e5e5e;
    display: inline-block;
    padding: 0;
}

.label-attachment a {
    color: inherit;
    display: inline-block;
    padding: 6px 12px;
}

.chat-message__meta:before,
.chat-message__meta:after {
    content: " ";
    display: table;
}

.chat-message__meta:after { clear: both; }

.btn--file-upload {
    display: inline-block;
    position: relative;
}

.btn--file-upload input[type='file'] {
    cursor: pointer;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.recordingImg {
    height: 32px;
    width: 32px;
}

.dropdown-multiple-choice { margin-top: 15px; }

.dragdrop-section {
    font-size: 1em;
    font-weight: normal;
    line-height: 2em;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.dragdrop * {
    margin: 0;
    padding: 0;
}

.dragdrop {
    margin: 0 auto;
    opacity: .8;
    transition: opacity .6s;
}

.draggable {
    background: #f0f0f0;
    cursor: move;
    margin-bottom: 10px;
}

.droppable {
    background: #e0ffff !important;
    margin-bottom: 10px;
    min-height: 75px;
}

.margin-none { margin: 0 !important; }

.whiteboard-panel-height {
    max-height: 550px;
    overflow-y: auto;
}

.whiteboard-dialog-height {
    max-height: 500px;
    overflow-y: auto;
}

.panel-answer {
    margin-left: 20px;
    margin-right: 20px;
}

.panel-widget { margin-top: 20px; }

#audioPlayerControl { margin-top: 10px; }

#record-result { margin-bottom: 10px; }

.panel-title.dashboard-title {
    border-bottom: 1px solid #6bd7e1;
    margin-bottom: 20px;
}

.checkbox--center,
.radio--center {
    padding-left: 0 !important;
    text-align: center;
}

.checkbox--center label,
.radio--center label {
    padding: 15px;
    padding-top: 30px !important;
    text-align: center;
}

.checkbox--center label span:before,
.radio--center label span:before {
    display: block !important;
    margin: 0 auto 10px !important;
}

.checkbox--center label span:after,
.radio--center label span:after {
    left: 50%;
    margin-left: -12px;
}

.package {
    border: 1px solid #ccc;
    margin-left: -16px;
    margin-right: -15px;
    padding: 15px;
}

.package:hover { background-color: #f2f2f2; }

.package--featured {
    background-color: #6bd7e1;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
    color: #fff;
    margin-left: -25px;
    margin-right: -20px;
}

.package--featured:hover { background-color: #41ccd8; }

.package--featured .radio--center span:before { border-color: #fff; }

.package--featured .radio--center span:after { color: #fff; }

.package--express {
    background-color: #fff;
    border: 4px solid #7b5be0;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
    margin-left: -25px;
    margin-right: -20px;
    margin-top: -6px;
}

.package--express:hover {
    background-color: #7b5be0;
    color: #fff;
}

.package__stars, .package__price { margin-bottom: 10px; }

.package__title { font-size: 18px; }

.package__stars {
    color: #f5bd00;
    margin-top: 10px;
}

.package__price { font-size: 2rem; }

.package__price:before {
    content: '$';
    display: inline-block;
    font-size: 1rem;
    margin-right: 5px;
    vertical-align: text-top;
}

.package__price:after {
    content: 'USD';
    display: inline-block;
    font-size: .75rem;
    margin-left: 5px;
}

.package-details__group { margin-bottom: 30px; }

.package-details__title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.package-details__desc { font-size: 12px; }

.package-details__row {
    border-bottom: 1px solid #CCC;
    padding: 15px;
}

.package-details__row .fa-check { color: #46c3d2; }

@media screen and (max-width: 767px) {
    .package-details__row {
        border-bottom: 1px solid transparent;
        padding: 0;
    }
}

.checkbox,
.radio { padding-left: 30px; }

.checkbox label span:before,
.radio label span:before { margin-left: -30px; }

.pricing-table { padding: 0; }

@media screen and (min-width: 768px) {
    .pricing-table {
        background-color: #fff;
        padding: 15px 0;
    }
}

.pricing-table__title {
    font-weight: bold;
    line-height: 20px;
    margin: 15px 0 10px;
}

.pricing-table__column {
    background-color: #fff;
    border: none;
    margin: 0 0 24px;
    padding: 15px 0;
}

@media screen and (max-width: 767px) {
    .pricing-table__column { margin-bottom: 0; }
}

@media screen and (min-width: 768px) {
    .pricing-table__column {
        border-right: 1px solid #d5d5d5;
        margin: 0 -15px 0;
        padding-bottom: 0;
    }

    .pricing-table__column.express {
        border-left: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
    }

    .col-sm-3:last-child.pricing-table__column { border-right-color: transparent; }
}

.pricing-table__header {
    margin-bottom: 24px;
    margin-top: 24px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .pricing-table__header {
        margin-bottom: 12px;
        margin-top: 12px;
    }
}

@media screen and (min-width: 768px) {
    .pricing-table__header { margin-top: 0; }
}

.is-desc .pricing-table__header { visibility: hidden; }

.pricing-table__stars { color: #f5bd00; }

.pricing-table__price {
    color: #46c3d2;
    font-size: 2rem;
    font-weight: bold;
}

.pricing-table__price:before {
    content: '$';
    display: inline-block;
    font-size: 1.25rem;
    margin-right: 5px;
    vertical-align: text-top;
}

.pricing-table__price:after {
    content: 'USD';
    display: inline-block;
    font-size: 1rem;
    margin-left: 5px;
}

.pricing-table__section { margin-bottom: 24px; }

@media screen and (max-width: 767px) {
    .pricing-table__section { margin-bottom: 12px; }
}

.pricing-table__section-title {
    border-bottom: 2px solid #46c3d2;
    border-top: 1px solid #d5d5d5;
    font-weight: bold;
    margin: 0 15px;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .pricing-table__section-title {
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .pricing-table__section:first-child .pricing-table__section-title { border-top-color: transparent; }
}

.is-desc .pricing-table__section-title {
    color: #46c3d2;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .pricing-table__section-title h4 { visibility: hidden; }
}

.is-desc .pricing-table__section-title h4 { visibility: visible; }

.pricing-table__section-list {
    margin: 0;
    padding: 0 15px;
}

@media screen and (min-width: 768px) {
    .pricing-table__section-list { padding: 0; }
}

.pricing-table__section-list:before,
.pricing-table__section-list:after {
    content: '';
    display: table;
}

.pricing-table__section-list:after { clear: both; }

.pricing-table__section-list {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}

.pricing-table__section-item {
    padding: 10px 10px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .pricing-table__section-item {
        height: 42px;
        overflow: hidden;
    }
}

.is-desc .pricing-table__section-item { text-align: left; }

.pricing-table__section-item:nth-child(even) { background-color: #e7f5f7; }

.pricing-table__section-desc { display: block; }

@media screen and (min-width: 768px) {
    .pricing-table__section-desc { display: none; }

    .is-desc .pricing-table__section-desc { display: inline; }
}

.pricing-table__section-num {
    font-size: 1.2rem;
    line-height: 24px;
}

.pricing-table__section-suffix {
    font-style: italic;
    margin-left: 2px;
    vertical-align: text-bottom;
}

.pricing-table__section-prefix { margin-right: 3px; }

.pricing-table.fa-check { color: #46c3d2; }

.pricing-table .fa-times { color: red; }

.pricing-table__section-item > [data-toggle=tooltip] {
    color: #add8e6;
    cursor: pointer;
    margin-left: 5px;
    position: absolute;
}

div.tolltip-inner { max-width: 400px; }

.text-center { text-align: center !important; }

#audioPlayerControl { margin-top: 10px; }

#record-result { margin-bottom: 10px; }

.panel-title.dashboard-title {
    border-bottom: 1px solid #6bd7e1;
    margin-bottom: 20px;
}

.list-questions { padding-left: 30px; }

.list-questions > li { margin-bottom: 24px; }

.list-questions .question {
    border-bottom: 1px solid #ddd;
    line-height: 1.74rem;
    margin-bottom: 12px;
    margin-left: -20px;
    padding-bottom: 5px;
    padding-left: 20px;
    position: relative;
}

.list-questions .question:before, .list-questions .question:after {
    content: '';
    display: none;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}

.list-questions .question:before {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-questions .question:after {
    color: #fff;
    content: '';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    text-rendering: auto;
}

.list-questions .is-incorrect .question {
    border-color: #d92f26;
    color: #d92f26;
}

.list-questions .is-incorrect .question:before {
    background-color: #d92f26;
    display: block;
}

.list-questions .is-incorrect .question:after {
    content: '\f00d';
    display: block;
}

.list-questions .is-correct .question { border-color: #6dba4f; }

.list-questions .is-correct .question:before {
    background-color: #6dba4f;
    display: block;
}

.list-questions .is-correct .question:after {
    content: '\f00c';
    display: block;
}

.list-questions .is-wrong,
.list-questions .is-right { padding-right: 24px; }

.list-questions .is-wrong:after,
.list-questions .is-right:after {
    color: #fff;
    content: '';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    margin-top: -12px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    text-rendering: auto;
    top: 50%;
}

.list-questions .is-wrong { border-right: 2px solid #d92f26; }

.list-questions .is-wrong:after {
    color: #d92f26;
    content: '\f00d';
}

.list-questions .is-right {
    background-color: #e7f4e2;
    border-bottom-left-radius: 10px;
    border-right: 2px solid #6dba4f;
    border-top-left-radius: 10px;
}

.list-questions .is-right:after {
    color: #6dba4f;
    content: '\f00c';
}

.checkbox,
.radio { padding-left: 30px; }

.checkbox label span:before,
.radio label span:before { margin-left: -30px; }

.blue--text { color: blue; }

.btn.btn-primary.studentPackage {
    padding-left: 20px;
    padding-right: 20px;
}

.pricing-table__section-item.btn-cell { height: 50px; }

.bootgrid-header, .bootgrid-footer { margin: 0; }

.bootgrid-header { margin-bottom: 15px; }

.site_css_ends_here_do_not_delete { }

.content > ol > li:before {
    content: counter(item, upper-alpha) " ";
    counter-increment: item;
    font-weight: bold;
    margin-right: 10px;
}

.content > ol {
    counter-reset: item;
    list-style: none;
}

ol + p {
    padding-left: 20px;
    text-indent: -20px;
}

.content > ol > li {
    display: block;
    padding-left: 1.5em;
    text-indent: -1.7em;
}

.blue--text { color: blue; }

.site_css_ends_here_do_not_delete { }

.bootstrap-dialog.type-primary .modal-header {
    background-color: white;
}

.bootstrap-dialog .bootstrap-dialog-title {
    color: black;
    display: block;
    font-size: 24px;
}

.max-height-panel {
    max-height: 650px;
    overflow-y: auto;
}

.gold-star {
    color: #FFD700;
}

/*fixing bootstrap modal bug*/
body { padding-right: 0 !important }

.ui-sortable-handle {
    display: block;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.ui-sortable {
    padding-left: 0px;
}

.ui-state-highlight {
    display: block;
}

.course-editor-textbox {
    width: 50%;
}

.course-editor-label {
    padding: 10px 0;
}

.course-editor-buttons {
    padding-top: 10px;
}

span.module-buttons {
    margin-left: 50px;
}

span.module-buttons > a {
    padding: 0 10px;
}