﻿@using LearningBase.Mvc.Infrastructure.Presentation
@model LearningBase.Mvc.Areas.Administrator.Models.Course.CourseEditorPartialVm

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="panel-subtitle">
                    Course Content Editor - @this.Model.Name [ @this.Model.Code ]
                </h2>
                <div>
                    <div id="editor"
                         data-add-module-url="@Url.Action("AddModule", "Course")"
                         data-edit-module-name-url="@Url.Action("EditModuleName", "Course")"
                         data-delete-module-url="@Url.Action("DeleteModule", "Course")"
                         data-update-module-index-url="@Url.Action("UpdateIndex", "Course")"
                         data-saved-info-message="@Resource.General_SavedInfoMessage">

                        @Html.BtMaintenanceFormErrorPane()
                        @Html.HiddenFor(m => m.CourseId)
                        @*<ul class="module">
                            <li>
                                <a href="#" class="module-edit-link">Item 1</a>
                                <hr/>
                                <div class="course-editor-buttons"><button class="btn btn-primary btn-save">Add New Topic</button></div>
                                <ul>
                                    <li>Item 1 1</li>
                                    <li>Item 1 2</li>
                                    <li>Item 1 3</li>
                                </ul>
                            </li>
                            <li>Item 2<ul></ul></li>
                            <li>Item 3<ul></ul></li>
                            <li>Item 4<ul></ul></li>                            
                        </ul>*@
                        <ul class="module">
                            @foreach (var moduleDto in this.Model.ModuleDtos)
                            {
                                <li data-module-id="@moduleDto.Id" data-module-name="@moduleDto.Name">
                                    <div class="module-panel" data-module-id="@moduleDto.Id" data-module-name="@moduleDto.Name">
                                        <a href="#" class="module-edit-link">@moduleDto.Name</a>
                                        <span class="module-buttons">
                                            <a href="#" class="module-delete-link" data-toggle="tooltip" data-placement="top" title="@Resource.CourseEditor_DeleteModule" data-original-title="@Resource.CourseEditor_DeleteModule"><i class="fa fa-trash"></i></a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="@Resource.CourseEditor_AddNewTopic" data-original-title="@Resource.CourseEditor_AddNewTopic"><i class="fa fa-folder"></i></a>
                                        </span>
                                    </div>
                                </li>
                            }
                        </ul>

                        <button class="btn btn-primary" id="btn-add-new-module">@Resource.CourseEditor_AddNewModule</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>