﻿@using LearningBase.Mvc.Infrastructure.Presentation
@model LearningBase.Mvc.Areas.Administrator.Models.Course.CreatePartialVm

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="panel-subtitle">
                    @Resource.Course_CreateFormTitle
                </h2>
                @Html.BtMaintenanceFormErrorPane()
                <form class="form-horizontal"
                      id="maintenanceForm"
                      data-url="@Url.Action("Create", "Course")"
                      data-saved-message="@Resource.General_SavedInfoMessage">
                    
                    @Html.BtTextEditorWithLabel(model => model.Code)
                    @Html.BtTextEditorWithLabel(model => model.Name)
                    @Html.BtMultiLineTextEditorWithLabel(model => model.Description)
                    @Html.BtMaintenanceButtonRowWithLabel(model => model.MaintenanceButtonRow)

                </form>
            </div>
        </div>
    </div>
</div>