﻿@using LearningBase.Mvc.Infrastructure.Presentation
@model LearningBase.Mvc.Areas.Administrator.Models.Course.EditPartialVm

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="panel-subtitle">
                    @Resource.Course_EditFormTitle
                </h2>
                @Html.BtMaintenanceFormErrorPane()
                <form class="form-horizontal"
                      id="maintenanceForm"
                      data-edit-url="@Url.Action("Edit", "Course")"
                      data-delete-url="@Url.Action("Delete", "Course")"
                      data-saved-message="@Resource.General_SavedInfoMessage"
                      data-delete-confirmation-message="@Resource.Course_DeleteConfirmationMessage"
                      data-delete-message="@Resource.General_DeletedInfoMessage">
                    @Html.HiddenFor(model => model.Id)

                    @Html.BtTextEditorWithLabel(model => model.Code)
                    @Html.BtTextEditorWithLabel(model => model.Name)
                    @Html.BtMultiLineTextEditorWithLabel(model => model.Description)

                    @Html.Partial("_AuditField", Model)
                    @Html.BtMaintenanceButtonRowWithLabel(model => model.MaintenanceButtonRow)
                </form>
            </div>
        </div>
    </div>
</div>