﻿<div class="page-top">
    <h1 class="page-header">
        <i class="fa fa-mortar-board fa-fw"></i> @Resource.Course_IndexTitle
    </h1>
</div>

<div class="page-main">
    <div class="panel panel-default">
        <div class="panel-body">

            <table id="gridCourse"
                   class="table table-condensed table-hover table-striped"
                   data-url="@Url.Action("GetCourseGridJson", "Course")"
                   data-create-url="@Url.Action("Create", "Course")"
                   data-edit-url="@Url.Action("Edit", "Course")"
                   data-edit-content-url="@Url.Action("CourseEditor", "Course")">
                <thead>
                <tr class="head-table">
                    <th data-column-id="Code" data-formatter="Code" class="head-table">@Resource.Course_Code</th>
                    <th data-column-id="Name" data-formatter="Name" class="head-table">@Resource.Course_Name</th>
                    <th data-column-id="Description" data-formatter="Description" class="head-table">@Resource.Course_Description</th>
                    <th data-column-id="Action" data-formatter="Action" class="head-table" data-width="10%"></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th colspan="4">
                        <button type="button" class="btn btn-xs btn-primary command-add" data-row-id="undefined">
                            <span class="fa fa-plus"></span>
                        </button>
                    </th>
                </tr>
                </tfoot>
            </table>

        </div>
        <!-- /.panel-body -->
    </div>

    <div id="maintenancePane"></div>
</div>