﻿@using LearningBase.Mvc.Infrastructure.Presentation
@model LearningBase.Mvc.ViewModel.Account.LoginVm

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="login-panel panel panel-default">
                <div class="row">
                    <div class="col-md-6">
                        <div class="login-form">
                            <a class="navbar-brand brand" href="/">Company name</a>
                            <div class="panel-heading">
                                <h3 class="panel-title">Please Sign In</h3>
                            </div>
                            <div class="panel-body">
                                @Html.BtMaintenanceFormErrorPane()
                                <form id="loginForm" data-login-url="@Url.Action("Login", "Account")">
                                    @Html.HiddenFor(m => m.ReturnUrl)
                                    <fieldset>
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name", name = "userName", required = "required", maxlength = "56" })
                                        </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", name = "password", required = "required", maxlength = "56" })
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input name="remember" type="checkbox" value="Remember Me"><span>Remember Me</span>
                                            </label>
                                            <a href="@Url.Action("Index", "ForgotPassword")" class="text--white pull-right">Lost your password?</a>
                                        </div>
                                        <!-- Change this to a button or input when using this as a form -->
                                        <button type="button" class="btn btn-lg btn-primary btn-block" id="btn-login">Login</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/e2l-form-js")

    <script>

        $(document)
            .ready(function() {
                var login = new AccountLogin();
                login.Register();
            });

    </script>
}