﻿<div id="processingDialogPane" class="modal modal--loading fade in">
    <div class="modal-dialog normal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span class="icon fa fa-refresh fa-spin"></span>
                Processing, please wait...
            </div>
        </div>
    </div>
</div>

<div id="loadingDialogPane" class="modal modal--loading fade in">
    <div class="modal-dialog normal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span class="icon fa fa-refresh fa-spin"></span>
                Processing, please wait...
            </div>
        </div>
    </div>
</div>