﻿@using System.Web.Optimization

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LearningBase</title>

    @Styles.Render("~/bundles/sbadmin-css")

</head>

<body class="login handle--not-loaded">

    @RenderBody()

    @{ Html.RenderPartial("_CommonLoadingDialog"); }

    @Scripts.Render("~/bundles/sbadmin-js")
    @Scripts.Render("~/bundles/outerpage-js")

    @RenderSection("scripts", false)

</body>

</html>
