﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>LearningBase</title>
    @Styles.Render("~/bundles/sbadmin-css")
</head>
<body class="handle--not-loaded">
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand" href="#">LearningBase</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="@Url.Action("Logout", "Account", new {area = string.Empty})"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li id="profile">
                        <div class="user__container">
                            <div class="avatar">
                                <a href="#" onclick="changeProfilePicture()"><img src="@Url.Content("~/Images/DefaultAvatar.png")" class="img-responsive" id="profile-picture" alt="Profile Picture"></a>
                            </div>
                            <div class="user__name" id="student-name"></div>
                            <div class="user__info" id="course-name"></div>
                        </div>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper" style="min-height: 576px;">
        <div class="container-fluid" id="mainUserContent">
            @RenderBody()
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

@{ Html.RenderPartial("_CommonLoadingDialog"); }
@Scripts.Render("~/bundles/sbadmin-js")
@Scripts.Render("~/bundles/e2l-form-js")
@Scripts.Render("~/bundles/student-js")

<script>
    $(document)
        .ready(function () {
            refreshProfile();

            var sidebar = new Sidebar();
            sidebar.Register();

            var topbar = new Topbar();
            topbar.Register();
        });

    function refreshProfile() {
        setTimeout(function() {
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '@Url.Action("GetProfile", "Home", new { area = "Student" })',
                success: function (data) {
                    $("#profile-picture").attr("src", data.Value.ProfilePictureUri);
                    if (data.Value.ProfilePictureName === null || data.Value.ProfilePictureName === "") {
                        $("#profile-picture").attr("src","@Url.Content("~/Images/DefaultAvatar.png")");
                    }
                    $("#student-name").empty();
                    $("#student-name").html(data.Value.StudentName);
                    $("#course-name").empty();
                    $("#course-name").html(data.Value.CourseName);
                }
            });
        }, 300);
    }

</script>

@RenderSection("scripts", false)

</body>

</html>
